In [1]:
# Dependencies
import requests
import pandas as pd

In [2]:
# Define League ID and year
league_id = 730129
year = 2021

In [3]:
# Define the URL with our parameters
url = f'https://fantasy.espn.com/apis/v3/games/ffl/leagueHistory/{league_id}/?seasonId={year}'

# Pull team data from the URL 
performance_response = requests.get(url, params={"view": "mTeam"})

# Transform the response into a JSON file
performance_json = performance_response.json()[0]

In [4]:
# Initialize empty lists to hold ids, W %
ids = []

win_percentage = []

In [6]:
# Loop through the JSON and populate ids and W % lists
for i in range(0,10):
    ids.append(performance_json['teams'][i]['id'])
    win_percentage.append(performance_json['teams'][i]['record']['overall']['percentage'])

In [7]:
# Create dictionary to hold performance data
data = {'Team ID' : ids, 'Win Percentage' : win_percentage}

# Load the dictionary into the DataFrame
performance_df = pd.DataFrame(data)

In [8]:
performance_df

   Team ID  Win Percentage
0        1        0.461538
1        2        0.538462
2        3        0.461538
3        4        0.461538
4        8        0.769231
5       10        0.461538
6       11        0.461538
7       12        0.307692
8       13        0.615385
9       14        0.461538

In [12]:
# Reuse the URL variable to call the draft view
draft_response = requests.get(url, params={"view" : "mDraftDetail"})

# Convert the response to a JSON
draft_json = draft_response.json()[0]

In [22]:
# Initialize the empty lists for ids and draft position
ids = []

draft_position = []

In [23]:
# Loop throught JSON and populate the ids and draft position lists
for i in range(0,10):
    ids.append(draft_json['draftDetail']['picks'][i]['teamId'])
    draft_position.append(draft_json['draftDetail']['picks'][i]['id'])

In [29]:
# Create a dictionary to hold the draft data
data = {'Team ID' : ids, 'Draft Position' : draft_position}

# Load the dictionary into a pandas DataFrame
draft_df = pd.DataFrame(data)

In [30]:
draft_df

   Team ID  Draft Position
0       11               1
1        1               2
2        4               3
3        8               4
4       12               5
5       14               6
6       10               7
7       13               8
8        3               9
9        2              10

In [31]:
df = pd.merge(draft_df, performance_df, how='left')

In [32]:
df

   Team ID  Draft Position  Win Percentage
0       11               1        0.461538
1        1               2        0.461538
2        4               3        0.461538
3        8               4        0.769231
4       12               5        0.307692
5       14               6        0.461538
6       10               7        0.461538
7       13               8        0.615385
8        3               9        0.461538
9        2              10        0.538462